.navbar{
  margin-bottom: 0;
  border-radius: 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;

  &.t-navbar{
    background-color: transparent;
    border: none;
    transition: all .2s;

    .navbar-nav > li {

      > a{
        color: $white;
        padding-top: 42px;
        padding-bottom: 42px;
        @include transition($transition-duration);
        @include font-size($font-size-16);

        &:hover{
          color: $green;
        }
      }

      &.active > a{
        color: $green;
      }
    }

    .navbar-toggle{

      @include media('<tablet') {
        // burger animation
        .icon-bar {
          position: relative;
          transition: all .2s ease-in-out;
        }
        &.active .icon-bar:nth-of-type(2) {
          top: 12px;
          transform: rotate(45deg);
        }
        &.active .icon-bar:nth-of-type(3) {
          background-color: transparent;
        }
        &.active .icon-bar:nth-of-type(4) {
          top: -12px;
          transform: rotate(-45deg);
        }
      }
    }

    &.is-menu-sticky{
      background-color: #fff;
      max-height: 64px;
      position: fixed;

      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-image: linear-gradient(to bottom, #f9f9f9 0%, #fff 100%);
      }

      @include media('<tablet') {
        max-height: 85px;
      }

      a.navbar-brand{

        @include media('>tablet'){
          height: 64px;
          line-height: 64px;
        }

        @include media('<tablet'){
          padding-top: 28px;
          height: auto;
        }
      }

      .navbar-toggle{
        @include media('<tablet') {

          margin-right: 20px;
          margin-top: 19px;

          .icon-bar{
           background-color: $text-darker;
          }
        }
      }

      .navbar-brand {
        padding-top: 15px;
        padding-left: 25px;

        .testio-main-mav{
          display: none;
        }
        .testio-sticky-mav{
          display: block;
        }
      }

      li a{
        color: $text-darkey;
        padding-top: 22px;
        padding-bottom: 22px;

        @include media('<tablet') {
          color: $white;
        }
      }
    }

    .navbar-brand{
      padding-top: 35px;
      padding-left: 50px;

      .testio-sticky-mav{
        display: none;
      }
    }

    .navbar-collapse{
      min-height: 72px;
    }

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus{
      background-color: transparent;
    }
  }

  .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus{
    margin-right: 40px;
    margin-top: 30px;
    border: none;
    background-color: transparent;

    .icon-bar{
      background-color: #fff;
      width: 46px;
      height: 4px;
      margin-bottom: 8px;
    }
  }

  .navbar-collapse{
    border: none;

    @include media('<tablet') {
      background-color: $color-blue;
      height: 100vh;
      border: none;

      ul.navbar-nav > li > a{
        padding: 10px;
        text-align: center;
        @include font-size($font-size-22);
        @include font-weight($font-light);
      }

      ul > li:nth-child(1) a{
        margin-top: 40%;
      }

      ul > li:nth-child(2) a{
        margin-top: 5%;
      }

      ul > li:nth-child(3) a{
        margin-top: 55%;
      }
    }
  }
}
